<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create page</title>
  </head>
  <nav>
    <ul>
      <li>Hello, {{ user.username }}</li>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
      <li><a href="{% url 'categories' %}">Expenses categories</a></li>
      <li><a href="{% url 'account_list' %}">View accounts</a></li>
      <li><a href="{% url 'create_account' %}">Create Account</a></li>
      <li><a href="{% url 'logout' %}">Log out</a></li>
    </ul>
  </nav>
  <body>
    <main>
      <div>
        <h1>Create Category</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button>Create</button>
      </div>
        </form>
    </main>
  </body>
</html>
