<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expenses Home Page</title>
  </head>
  <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'login' %}">Log in</a>
  </nav>
  <body>
    <main>
      <div>
        <h1>Sign up</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button>Signup</button>
        </form>
      </div>
    </main>
  </body>
</html>
